# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Lambda build output
lambda/package
lambda/deployment.zip

# Python
.venv/

# Package
**/package/
**/*.zip

# Terraform
.terraform/
terraform.tfvars

# AWS SAM
.aws-sam/
env.json

# ETL
db/etl/world.sql
db/etl/US.sql
db/etl/US_with_timezone.sql
db/etl/users.json