# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.json

# macOS-specific files
.DS_Store

# Lambda build output
lambda/package
lambda/deployment.zip

# Python
.venv/
__pycache__/

# Package
**/package/
**/*.zip

# Terraform
.terraform/
terraform.tfvars

# AWS SAM
.aws-sam/

# ETL
world.sql
US.sql
US_with_timezone.sql

# Backups
users.json
