---
interface Props {
	layout?: "single" | "double";
}

const { layout = "double" } = Astro.props;
---

<div class="bg-white/80 backdrop-blur-sm rounded-xl">
  <h3 class="text-2xl font-semibold text-blue-900 mb-6 flex items-center">
    Why text-based notifications?
  </h3>
  <div class={`grid grid-cols-1 ${layout === 'double' ? 'md:grid-cols-2' : ''} gap-8`}>
    <div class="flex items-start">
      <div class="bg-blue-100 p-3 rounded-lg mr-4 mt-0.5 flex-shrink-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-blue-600">
          <path stroke-linecap="round" stroke-linejoin="round" d="m3 3 8.735 8.735m0 0a.374.374 0 1 1 .53.53m-.53-.53.53.53m0 0L21 21M14.652 9.348a3.75 3.75 0 0 1 0 5.304m2.121-7.425a6.75 6.75 0 0 1 0 9.546m2.121-11.667c3.808 3.807 3.808 9.98 0 13.788m-9.546-4.242a3.733 3.733 0 0 1-1.06-2.122m-1.061 4.243a6.75 6.75 0 0 1-1.625-6.929m-.496 9.05c-3.068-3.067-3.664-7.67-1.79-11.334M12 12h.008v.008H12V12Z" />
        </svg>
      </div>
      <div>
        <span class="font-medium text-base md:text-lg">No WiFi, No Problem</span>
        <p class="text-sm md:text-base text-slate-600 mt-2">Get notified immediately for time-sensitive events</p>
      </div>
    </div>
    <div class="flex items-start">
      <div class="bg-blue-100 p-2.5 rounded-lg mr-4 mt-0.5 flex-shrink-0">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-600">
          <path d="M10.5 1.5H8.25C7.00736 1.5 6 2.50736 6 3.75V20.25C6 21.4926 7.00736 22.5 8.25 22.5H15.75C16.9926 22.5 18 21.4926 18 20.25V3.75C18 2.50736 16.9926 1.5 15.75 1.5H13.5M10.5 1.5V3H13.5V1.5M10.5 1.5H13.5M10.5 20.25H13.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
      <div>
        <span class="font-medium text-base md:text-lg">Seamless Integration</span>
        <p class="text-sm md:text-base text-slate-600 mt-1">No app needed, just texting</p>
      </div>
    </div>
    <div class="flex items-start">
      <div class="bg-blue-100 p-2.5 rounded-lg mr-4 mt-0.5 flex-shrink-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-blue-600">
          <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
        </svg>        
      </div>
      <div>
        <span class="font-medium text-base md:text-lg">Take Actions, Ask Questions</span>
        <p class="text-sm md:text-base text-slate-600 mt-1">Text back to get more information or take an action</p>
      </div>
    </div>
  </div>
</div> 