---
import { Image } from "astro:assets";
import starIcon from "../../../public/assets/star.svg";

interface Props {
	quote: string;
	author: string;
	role: string;
	rating: number;
}

const { quote, author, role, rating } = Astro.props;
---

<div class="w-full">
  <blockquote class="text-sm md:text-base text-slate-600 italic mb-3">
    "{quote}"
  </blockquote>
  <div class="flex items-center">
    <div class="mr-4">
      <cite class="font-medium text-base md:text-lg block">{author}</cite>
      <p class="text-xs md:text-sm text-slate-600">{role}</p>
    </div>
    <div class="flex">
      {Array(rating).fill(null).map(() => (
        <Image src={starIcon} alt="Star rating" class="h-5 w-5" />
      ))}
    </div>
  </div>
</div> 