---
import Testimonial from "./Testimonial.astro";

const testimonials = [
	{
		quote:
			"Now I don't have to ask Alexa about the weather every morning, I just get a text",
		author: "Holly Solly",
		role: "Wife",
		rating: 5,
	},
];
---
<section>
  <div class="container mx-auto">
    <div class="max-w-4xl mx-auto bg-white/90 backdrop-blur-sm rounded-xl">
      <h3 class="text-2xl font-semibold text-blue-900 mb-6 flex items-center">
        Testimonials
      </h3>
      <div class="flex flex-col space-y-8">
        {testimonials.map((testimonial) => (
          <div class="w-full">
            <Testimonial
              quote={testimonial.quote}
              author={testimonial.author}
              role={testimonial.role}
              rating={testimonial.rating}
            />
          </div>
        ))}
      </div>
    </div>
  </div>
</section> 