---
import Layout from "../layouts/Layout.astro";
import SignUpForm from "../components/SignUpForm.astro";
---

<Layout>
  <div class="bg-slate-100 min-h-screen flex items-center justify-center p-8">
    <SignUpForm />
  </div>
</Layout>