---
interface Props {
  name: string;
}

const { name } = Astro.props;
---

<div class="mt-2 ml-8 hidden" data-notification-timing>
  <label class="text-sm text-slate-600">Notify me</label>
  <select 
    name={`${name}-timing`} 
    class="ml-2 text-sm border-slate-300 rounded-md focus:ring-blue-500 focus:border-blue-500"
  >
    <option value="0">when it happens</option>
    <option value="5">5 minutes before</option>
    <option value="15">15 minutes before</option>
    <option value="30">30 minutes before</option>
    <option value="60">1 hour before</option>
  </select>
</div> 