---
import { NOTIFICATION_SCHEMA } from "../../../types/form.schema";
---
<section class="notifications">
	<h3 class="text-md font-semibold text-slate-800 mb-4">Notifications</h3>
	<div class="space-y-3">
		{Object.entries(NOTIFICATION_SCHEMA)
			.map(([name, def]) => {
				return (
					<div class="flex items-center">
						<input
							type="checkbox"
							id={name}
							name={name}
							class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded"
						/>
						<label for={name} class="ml-2 block text-sm text-gray-900">
							{def.formLabel}
						</label>
					</div>
				);
			})}
	</div>
</section> 